<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Back to movies", movies_path %>
  <%= button_to "Destroy this movie", @movie, method: :delete %>

  <%= link_to "Add Comment", new_comment_path(movie_id: @movie.id) %>

</div>
